name: GH Pages Deploy

on:
  push:
    branches: [ main ]

permissions:
  contents: write

env:
  BASE_PATH: /${{ github.event.repository.name }}
  ASSET_PREFIX: /${{ github.event.repository.name }}

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm

      - name: Install
        run: pnpm install --frozen-lockfile --reporter=append-only

      - name: Build & Export
        env:
          NEXT_TELEMETRY_DISABLED: '1'
        run: pnpm run export

      - name: Deploy to gh-pages branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./out
          publish_branch: gh-pages
